;; not using
;; https://github.com/lwjglgamedev/vulkanbook/blob/master/booksamples/chapter-01/src/main/java/org/vulkanb/eng/EngineProperties.java
{:physical-device-name nil, :ups 30, :validate? true}
